
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #850F8D;  color: white;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Facility User Group
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="thisForm" (ngSubmit)="facilityUserGroup()">


                                <div class="row mb-3">
                                    <div class="col-md-12 col-sm-12 mt-3 mb-1">
                                        <input type="text" formControlName="groupName" class="form-control" placeholder="Group Name*"
                                            id="firstName" required>
                                    </div>
                                    <div class="col-md-12 col-sm-12 mt-3 mb-1 ">
                                        <input type="text" formControlName="description" class="form-control" placeholder="Description*"
                                            id="firstName" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn rounded-5 px-4 text-light fw-bold"
                                      style="background-color: #850F8D;">SAVE</button>
                                  <button type="button" class="btn bg-transparent rounded-5 px-4 fw-bold"
                                      style="border: 1px solid #850F8D; color:#850F8D" data-bs-dismiss="modal">CANCEL</button>
                              </div>
                            </form>


                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>

      </div>
  </div>
</div>



<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-custom p-2"
      style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;margin-top: 4rem;">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h5 text-white"> User Group </span>
        <div class="d-flex align-items-center">
          <span class="text-white me-3" id="notificationIcon" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNotification" aria-controls="offcanvasNotification">
            <i class="fas fa-bell"></i> 
          </span>

          <div class="dropdown">
            <span class="text-white" id="threeDotMenu" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i> 
            </span>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
</div>


    <div id="main">
      <div class="container" style="margin-top: 2rem;">
       
       <div class="row justify-content-center" *ngFor="let data of userGroupData" >
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="card-custom">
            <div class="card-header-custom">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-bahai fs-5"></i>
                <div class="m-2">
                 <!-- <strong>{{admin.image}}</strong>  -->
                  <strong>{{ data.groupName }}</strong><br>
                  <small>{{ data.description }}</small>
                </div>
              </div>
              <div class="queue-status">
                <span><i class="fa-solid fa-ellipsis-vertical mt-2"></i></span>
              </div>
            </div>
          </div>
        </div>
        
       </div>
       
        <!-- button-code   -->
        <div class="d-flex justify-content-end">
          <button type="button" class="btn rounded-circle m-2 set_btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
            ><i class="fa-sharp fa-solid fa-plus"></i></button>
        </div>
      </div>
        <!-- Offcanvas Notification -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotification"
    aria-labelledby="offcanvasNotificationLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNotificationLabel">Notifications</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <!-- Notification List -->
      <div class="notification-item">
        <i class="fas fa-envelope notification-icon"></i>
        <div class="notification-text">
          <strong>New Message</strong><br>
          You have received a message from John.
        </div>
      </div>

      <div class="notification-item">
        <i class="fas fa-tasks notification-icon"></i>
        <div class="notification-text">
          <strong>Task Reminder</strong><br>
          Complete your daily report by 5 PM.
        </div>
      </div>

      <div class="notification-item">
        <i class="fas fa-exclamation-triangle notification-icon"></i>
        <div class="notification-text">
          <strong>Warning</strong><br>
          Your subscription will expire soon. Renew it now.
        </div>
      </div>

      <!-- Add more notification items if needed -->
      <div class="offcanvas-footer">
        <button class="btn btn-primary archive-button">
          <i class="fas fa-archive"></i> Archive All
        </button>
      </div>
    </div>
      </div>
    </div>
