<div id="main">
    <div class="container mt-4">
  
        <div class="mb-4">
          <h4 style="background-color: white ; color: white; padding: 10px; border-radius: 5px;" class="shadow">Logging Medication from Pharmacy</h4>
          <form>
            <div class="row g-3 mt-2">
              
              <!-- Patient List Table -->
        <div class="mt-5 responsive-table">
            <h4 style="background-color: white ; color: white; padding: 10px; border-radius: 5px;">List</h4>
            <div class="table-responsive">
              <table class="table table-bordered table-hover mt-3">
                <thead style="background-color: white ; color: white; white-space: nowrap;">
                  <tr>
                    <th>#</th>
                    <th>Prescriber Name</th>
                    <th>Medication Name</th>
                    <th>Date of Manufacture</th>
                    <th>Date of Expiry</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Frequency of Medication</th>
                    <th>Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody style="white-space: nowrap;">
                  <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>Aciloc</td>
                    <td>1990-05-01</td>
                    <td>1925-05-01</td>
                    <td>20</td>
                    <td>25</td>
                    <td>1-2-3</td>
                    <td>2024-09-28</td>
                    <td>
                        <button type="button" class="btn float-end" style="background-color: white ; color: white; font-weight: bold;">Accept</button>
                    </td>
                  </tr>
                  <!-- Add more patient rows here -->
                </tbody>
              </table>
            </div>
          </div>
            </div>
            
              
          </form>
        </div>
    </div>
  </div>